.modlist-wrapper {
  margin-top: 80px;
  .navbar {
    justify-content: flex-end;
    padding-right: 10px;
  }
  .module-content {
    //width: 1060px;
    height: 460px; //overflow-y: auto;
    .module-list {
      padding: 0 10px 0 0px;
      margin-bottom: 0;
      &::after {
        display: block;
        content: " ";
        font-size: 0;
        height: 0;
        clear: both;
        overflow: hidden;
      }
      .module-item {
        float: left;
        margin-bottom: 30px;
        list-style-type: none;
        .module-info {
          position: relative;
          list-style-type: none;
          width: 190px;
          height: 220px;
          border: 1px solid #ccc;
          margin-right: 10px;
          overflow: hidden;
          cursor: pointer;
          &:nth-child(5n) {
            margin-right: 0px
          }
          .desc {
            padding: 0 5px 0 5px;
            font-size: 12px;
            color: #666;
            margin-top: 5px;
            margin-bottom: 0;
          }
        }
        .operation-container {
          width: 190px;
          margin-top: 10px;
          &::after {
            display: block;
            content: " ";
            font-size: 0;
            height: 0;
            clear: both;
            overflow: hidden;
          }
          a {
            display: inline-block;
            width: 33.3333%;
            text-align: center;
            padding: 5px 0;
            float: left;
            text-decoration-line: none;
            background: #59BBFF;
            color: #fff;
            &.preview {
              border-left: 1px solid #fff;
            }
            &.publish {
              border-left: 1px solid #fff;
            }
            &:hover {
              background: #49a8eb;
            }
          }
        }
      }
    }
  }
}
.pagination {
  margin-top: 0px !important;
}