<div class="modlist-wrapper">
  <div class="module-content">
    <ul class="module-list">
      <li class="module-item" v-for="item in modList">
        <div class="module-info">
          <img width="200px" height="90px" :src="item.thumbnail" alt="">
          <p class="desc">名称：{{item.name}}</p>
          <p class="desc">版本：{{item.version}}</p>
          <p class="desc">描述：{{item.description}}</p>
          <p class="desc">修改者：{{item.editor}}</p>
          <p class="desc">修改时间：{{item.editTime}}</p>
        </div>
        <div class="operation-container">
          <a href="javascript:;">更新</a>
          <a target="_blank" :href="'/mod/preview?modname=' + item.name + '&version=' + item.version" class="preview">预览</a>
          <a href="javascript:;" class="publish">发布</a>
        </div>
      </li>
    </ul>
    <pagination :pagination="pagination" @choosePaginationEvent="choosePaginationHandle" @choosePrevOrNextEvent="choosePaginationHandle">
    </pagination>
  </div>
</div>