<div class="login-wrapper">
  <div class="form-group row col-md-10">
    <label for="pageName" class="col-sm-2 col-form-label text-right">github/gitlab账号
      <span style="color:red">*</span>
    </label>

    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="请输入账号">
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageName" class="col-sm-2 col-form-label text-right">github/gitlab密码
      <span style="color:red">*</span>
    </label>

    <div class="col-sm-6">
      <input type="password" class="form-control" placeholder="请输入密码">
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label class="col-sm-2 col-form-label text-right"></label>
    <div class="col-sm-6">
      <button @click="loginHandle" type="button" class="btn  btn-primary col-sm-4">登录</button>
    </div>
  </div>
</div>