<div class="create-wrapper">
  <div class="form-group row col-md-10">
    <label for="pageName" class="col-sm-2 col-form-label text-right">模块名称
      <span style="color:red">*</span>
    </label>

    <div class="col-sm-6">
      <input type="text" class="form-control" placeholder="请输入模块名称">
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageType" class="col-sm-2 col-form-label text-right">模块类型
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-6">
      <span class="label module-type">
        <input type="radio" /> vue
      </span>
      <span class="label module-type">
        <input type="radio" /> react
      </span>
      <span class="label module-type">
        <input type="radio" /> ejs
      </span>
      <span class="label module-type">
        <input type="radio" /> jade
      </span>
      <span class="label module-type">
        <input type="radio" /> xtpl
      </span>
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageDesc" class="col-sm-2 col-form-label text-right">模块描述
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-6">
      <textarea class="form-control" id="pageDesc" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label class="col-sm-2 col-form-label text-right"></label>
    <div class="col-sm-6">
      <button @click="createModHandle" type="button" class="btn  btn-primary col-sm-4">创建</button>
    </div>
  </div>
</div>