<div class="create-wrapper">
  <div class="form-group row col-md-10">
    <label for="pageName" class="col-sm-2 col-form-label text-right">模块名称
      <span style="color:red">*</span>
    </label>

    <div class="col-sm-6">
      <input type="text" v-model="moduleData.modName" class="form-control" placeholder="请输入模块名称">
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageType" class="col-sm-2 col-form-label text-right">终端类型
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-6">
      <span class="label module-type">
        <input type="radio" v-model="moduleData.device" value="mobile"/> 移动端
      </span>
      <span class="label module-type">
        <input type="radio" v-model="moduleData.device" value="pc"/> pc端
      </span>
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageType" class="col-sm-2 col-form-label text-right">模块类型
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-6">
      <span class="label module-type">
        <input type="radio" v-model="moduleData.type" value="vue"/> vue
      </span>
      <span class="label module-type">
        <input type="radio" v-model="moduleData.type" value="ejs"/> ejs
      </span>
      <span class="label module-type">
        <input type="radio" v-model="moduleData.type" value="jade"/> jade
      </span>
      <span class="label module-type">
        <input type="radio" v-model="moduleData.type" value="xtpl"/> xtpl
      </span>
      <span class="label module-type">
        <input type="radio" v-model="moduleData.type" value="react"/> react
      </span>
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label for="pageDesc" class="col-sm-2 col-form-label text-right">模块描述
      <span style="color:red">*</span>
    </label>
    <div class="col-sm-6">
      <textarea v-model="moduleData.description" class="form-control" id="pageDesc" rows="3"></textarea>
    </div>
  </div>
  <div class="form-group row col-md-10">
    <label class="col-sm-2 col-form-label text-right"></label>
    <div class="col-sm-6">
      <button @click="createModHandle" type="button" class="btn  btn-primary col-sm-4">创建</button>
    </div>
  </div>
</div>